[mysqladmin]
user=master
[mysqld]
skip_name_resolve
explicit_defaults_for_timestamp

port=3306



max_allowed_packet=16M
bind_address=0.0.0.0

character_set_server=utf8
collation_server=utf8_general_ci

server-id=1
binlog_format=ROW
log-bin

[client]
port=3306

default_character_set=UTF8


[manager]
port=3306

